@model Dictionary<int,IEnumerable<KeyValuePair<int,int>>>
@{
    ViewData["Title"] = "View";
}
<h1>Hourly Status of Request</h1>
<table>
    <tr>
        @foreach(var hour in Model.Keys)
        {
        <td valign="top">
            <table>
                <thead >
                    <tr bgcolor="#FF0000" ><th colspan="2">Hour: @hour </th></tr>
                    <tr ><th>Status Code</th> <th>Request Count</th></tr>
                </thead>
                @foreach (var kv in Model[hour])
                {
                    <tr><td>@kv.Key</td><td>@kv.Value</td></tr>
                }
            </table>
        </td>
        }
    </tr>
</table>